---
http_interactions:
- request:
    method: get
    uri: https://api.sunrisesunset.io/json?date_end=2024-01-31&date_start=2024-01-01&lat=38.7077507&lng=-9.1365919
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"date":"2024-01-01","sunrise":"7:55:35 AM","sunset":"5:25:21
        PM","first_light":"6:20:11 AM","last_light":"7:00:45 PM","dawn":"7:25:49 AM","dusk":"5:55:08
        PM","solar_noon":"12:40:28 PM","golden_hour":"4:43:40 PM","day_length":"9:29:45","timezone":"Europe/Lisbon","utc_offset":0},{"date":"2024-01-02","sunrise":"7:55:46
        AM","sunset":"5:26:06 PM","first_light":"6:20:25 AM","last_light":"7:01:27
        PM","dawn":"7:26:00 AM","dusk":"5:55:51 PM","solar_noon":"12:40:56 PM","golden_hour":"4:44:28
        PM","day_length":"9:30:20","timezone":"Europe/Lisbon","utc_offset":0},{"date":"2024-01-03","sunrise":"7:55:54
        AM","sunset":"5:26:53 PM","first_light":"6:20:38 AM","last_light":"7:02:09
        PM","dawn":"7:26:10 AM","dusk":"5:56:37 PM","solar_noon":"12:41[...]
